<div class="contacts" id="Contacts">
  <div class="contacts__i">
    <h3 class="contacts__title">{{ "contacts.title" | translate }}</h3>
    <hr class="contacts__hr">
    <div class="contacts__desc">
      <div class="contacts__inner">
        <div class="contacts__phones">
          <div class="contacts__group">
            <h5 class="contacts__name">{{ "contacts.phone_first" | translate }}</h5>
            <a href="tel:+380503683721" class="contacts__link">
              <p class="contacts__text">+380503683721</p>
            </a>
          </div>
          <div class="contacts__group">
            <h5 class="contacts__name">{{ "contacts.phone_second" | translate }}</h5>
            <a href="tel:+380509477784" class="contacts__link">
              <p class="contacts__text">+380509477784</p>
            </a>
          </div>
          <div class="contacts__group">
            <h5 class="contacts__name">{{ "contacts.phone_third" | translate }}</h5>
            <a href="tel:+380953130662" class="contacts__link">
              <p class="contacts__text">+380953130662</p>
            </a>
          </div>
        </div>
        <hr class="contacts__hr_small">
        <div class="contacts__group contacts__group_address">
          <h5 class="contacts__name">{{ "contacts.address" | translate }}</h5>
          <p class="contacts__text">01004, Київ, вул. Басейна, будинок 5Б</p>
        </div>
      </div>
    </div>
  </div>
</div>
